page-home {

    ion-header{

        ion-navbar{

            .toolbar-background{
                background-color: $azulescuro !important;
                
            }

            button{
    
                span{
    
                    ion-icon{
                        color: $azulclaro !important;
        
                    }
                }
    
            }

            .toolbar-content{

                ion-title{
                    text-align: center;

                    .toolbar-title{
                        color: $azulclaro !important;

                    }

                }
            }
        }
    }


    ion-tabs{
        .tabbar{
            background-color: $azulescuro !important;

            .tab-button[aria-selected=true] {
                color: $azulclaro;
                border-bottom: 1px solid $azulclaro;
            }

            .tab-button{
                color: rgba(255, 255, 255, 0.281);

                .tab-button-text{
                    font-size: 15px;

                }

            }

        }

    }
}
